body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.row-block {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
/*    border: 5px solid red;*/
}

.header-logo {
    text-align: center;
    align-self: center;
}
/*.header-img::before {
    content: url('../images/icons8-wrench.gif');
}*/

/* button-menu BEG */
.button-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: lightcyan;
    gap: 3rem;
}

.button-menu_vertical {
    flex-direction: column;
}

.button-menu__item {
    border: .3rem solid transparent;
    border-radius: 0.5rem 1rem 0.5rem;
    width: clamp(8rem, 12rem, 20rem);
    height: 6rem;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-menu__item:hover {
    border-style: solid;
    border-color: buttonborder;
}

.button-menu__item_selected {
    color: white;
    font-weight: bold;
    background-color: black;
    border-color: buttonborder;
    border-style: double;
}

.button-menu__item_selected:hover {
    cursor: text;
    border-color: grey;
    cursor: not-allowed;
}

/* button-menu END */

/* main content (r-panel) BEG */
.r-panel {
    width: 100%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
}

.r-panel__top {
    width: 100%;
    background-color: lightgreen;
    display: flex;
    align-items: center;
}


.r-panel_request-text {
    width: 100%;
    min-width: 100%;
    min-height: 20rem;
    flex: 1;
}


.r-panel__buttons > input[type="file"] {
    display: none;
}

.r-panel__buttons {
    display: inline;
}

.r-panel__btn-label {
    border: 1px solid black;
    background-color: #ccc;
    display: inline-block;
    padding: .3rem;
    cursor: pointer;
    margin: .5rem;
}

/* main content (r-panel) END */

.btn-common {
    margin: .3rem;
    padding: .3rem;
    line-height: 2rem;
}

/* font-style: italic; font-size: small; */
footer {
    color: #ccc;

}

/* dialog BEG */
.action-dialog {
    background-color: #eee;
}

.action-dialog::backdrop {
  background-color: #444;
  opacity: 0.9;
}

/* dialog END */