:root {
    --menu-item-padding: .5rem;
}


*, *:before, *:after {
    box-sizing: border-box;
}

/** {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smoothing: antialiased;
}*/



/* main content (r-panel) BEG */
.r-panel {
    flex: 3;
/*    background-color: lightgreen;*/
    min-height: 100%;
    padding: var(--menu-item-padding);
}

.r-panel__top {
    background-color: transparent;
    display: flex;
    align-items: center;
}




/* main content (r-panel) END */

.btn-common {
    margin: .3rem;
    padding: .3rem;
    line-height: 2rem;
}



/* dialog END */